<?xml version="1.0"?>
<connectionStrings>

  <remove name="XeroxPortal"/>
  <add name="XeroxPortal" connectionString="Server=sig-db;Database=XeroxPortal;User ID=XeroxPortal;Password=XeroxPortal;Connect Timeout=10; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />
  
  <remove name="SqlServer"/>
  <!--default-->
  <!--<add name="SqlServer" connectionString="server=sig-db;database=XeroxCollateralTool;User ID=XeroxCollateralCreator;Password=XeroxCollateralCreator" />-->
  <!--live SC2 collateral test-->
  <add name="SqlServer" connectionString="server=sig-db;database=XeroxCollateralToolLive;User ID=XeroxCollateralCreator;Password=XeroxCollateralCreator" />
  <!--local test me-->
  <!--<add name="SqlServer" connectionString="Server=20130125MARK\SQLEXPRESS;initial catalog=XeroxCollateralTool;user id=XeroxUser;password=Signals123;Connect Timeout=10; pooling='true'; Max Pool Size=200" providerName="System.Data.SqlClient" />-->
  
</connectionStrings>
